<div class="mt-2">
  <form method="POST" action="">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Search</label>
      <input
        type="text"
        name="q"
        class="form-control"
        id="search-input"
        placeholder="Nhap tu khoa..."
      />
    </div>
    <button type="submit" class="btn btn-primary">Tim kiem</button>

  </form>
</div>